@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Raleway:wght@100..900&display=swap');
@import "tailwindcss";

.navbar-font{
    font-family: "Playwrite IN", serif;
}
.text-font{
    font-family: "Raleway", serif;
}
.button{
    background: #dedccf;
    border: 2px solid #dedccf ;
    color:#343232 ;
    padding: 4px 10px;
    border-radius: 5px;

}
.button:hover{
    scale: 1.2rem;
    background:transparent;
    color: #8f8d85;
}